.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px 1fr 1fr 100px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
  background-color: yellow;
}
.div2 {
  grid-area: 2 / 1 / 4 / 2;
  background-color: red;
}
.div3 {
  grid-area: 2 / 2 / 4 / 6;
  background-color: rgb(57, 26, 167);

}
.div4 {
  grid-area: 4 / 1 / 5 / 6;
  background-color: rgb(87, 12, 156);

}
