* {
  margin: 0;
  padding: 0;
}

html {
  display: grid;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  height: 100vh;
  width: 90vw;
  margin-top: 1em;
}

.header {
  display: flex;
  grid-area: 1 / 1 / 2 / 6;
  background-color: #2c3e50;
  border-radius: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: white;
  margin-bottom: 0.3em;
}

.header a {
  text-decoration: none;
  color: gray;
  margin-right: 1em;
}

.side {
  grid-area: 2 / 1 / 7 / 2;
  background-color: red;
}
.section {
  grid-area: 2 / 2 / 7 / 6;
  background-color: red;
}
.footer {
  grid-area: 7 / 1 / 8 / 6;
  background-color: yellow;
}

@media (max-width: 600px) {
  .side {
    grid-area: 2 / 1 / 3 / 6;
    background-color: yellow;
  }

  .section {
    background-color: yellow;
    grid-area: 3 / 1 / 7 / 6;
  }
}
