* {
  margin: 0;
  padding: 0;
}

html {
  display: grid;
  justify-content: center;
  background-color: #f8f9fa;
}

.parent {
    /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  width: 90vw;
  margin-top: 1em;
}

.header {
   height: 5em;
  display: flex;
  grid-area: 1 / 1 / 2 / 6;
  background-color: #2c3e50;
  border-radius: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: white;
  margin-bottom: 0.3em;
}

.header a {
  text-decoration: none;
  color: gray;
  margin-right: 1em;
}

.side {
  grid-area: 2 / 1 / 7 / 2;
  background-color: #2c3e50;
  border-radius: 1em;
}

.side a {
  text-decoration: none;
  color: gray;
  margin: 0.5em;
  margin-left: 3em;
}

.side h1 {
  color: white;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.side div {
  display: flex;
  flex-direction: column;
}

.section {
  grid-area: 2 / 2 / 7 / 6;
  margin-left: 0.5em;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}

.section-div1 {
  color: #2c3e50;
}

.section-div2 {
  margin-top: 30px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.footer {
  grid-area: 7 / 1 / 8 / 6;
  background-color: yellow;
}

.form-group:nth-child(2n +1) {
  background-color: #ecf8ff;
  padding: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 30px;
  padding-right: 30px;
}

.form-group:nth-child(2n) {
  background-color: #fff9e6;
  padding: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 30px;
  padding-right: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #2c3e50;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 12px;
  padding-right: 0px;
  border: 2px solid #ddd;
  border-color: rgb(221, 221, 221);
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  transition: all 0.3s ease;
  background-color: white;

}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 600px) {
  .side {
    grid-area: 2 / 1 / 3 / 6;
  }

  .section {
    grid-area: 3 / 1 / 7 / 6;
  }
}

@media (min-width: 600px) {
  .header{
   padding-left: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
